<div class="contents row">
 <div class ="container">
    <%= form_for @tweet do |f| %>
    <h3>
      投稿する
    </h3>
    <%= f.text_field :image, placeholder: "Image Url" %>
    <%= f.text_area :text, placeholder: "店名、感想など" %>
    <%= f.submit "SENT" %>
  <% end %>
 </div>
</div>